volumes:
  postgres:
services:
  postgres:
    environment:
    - POSTGRES_DB=keycloak
    - POSTGRES_USER=keycloak
    - POSTGRES_PASSWORD=password
    image: postgres:16
    volumes:
    - postgres:/var/lib/postgresql
  openldap:
    image: bitnamilegacy/openldap:2.6
    environment:
      LDAP_PORT_NUMBER: 389
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    command: --verbose start-dev
    depends_on:
    - postgres
    - openldap
    environment:
    - KC_BOOTSTRAP_ADMIN_USERNAME=keycloak
    - KC_BOOTSTRAP_ADMIN_PASSWORD=password
    - KC_LOG_LEVEL=INFO
    - KC_HTTP_ACCESS_LOG_ENABLED=true
    - KC_DB=postgres
    - KC_DB_URL_HOST=postgres
    - KC_DB_URL_PORT=5432
    - KC_DB_URL_DATABASE=keycloak
    - KC_DB_USERNAME=keycloak
    - KC_DB_PASSWORD=password
    - KC_LOG_CONSOLE_COLOR=true
    - KC_FEATURES=preview,admin-fine-grained-authz:v1
    - KC_HTTPS_CERTIFICATE_FILE=/opt/keycloak/testdata/tls/server-cert.pem
    - KC_HTTPS_CERTIFICATE_KEY_FILE=/opt/keycloak/testdata/tls/server-key.pem
# Enable for remote java debugging
#    - DEBUG=true
#    - DEBUG_PORT=*:8787
#    - DEBUG_SUSPEND=y
    ports:
    - "8080:8080"
    - "8443:8443"
# Enable for remote java debugging
#    - "8787:8787"
    volumes:
# Make the custom-user-federation-example extension available to Keycloak. The :z option is required and tells Docker that the volume content will be shared between containers.
    - ./custom-user-federation-example/build/libs/custom-user-federation-example-all.jar:/opt/keycloak/providers/custom-user-federation-example-all.jar:z
    - ./provider/testdata:/opt/keycloak/testdata:z
